---
import { Markdown } from "astro/components";
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import Links from "../components/Links.astro";
import TagList from "../components/TagList/TagList.astro";

import DevToPublishedArticles from "../types.ts";

export async function getStaticPaths() {
  const DEVTO_KEY = import.meta.env.PUBLIC_DEVTO;

  const ARTICLES_PER_PAGE = 1000;
  const page = 1;

  const response = await fetch(
    `https://dev.to/api/articles/me/published?page=${page}&per_page=${ARTICLES_PER_PAGE}`,
    {
      headers: { "api-key": DEVTO_KEY },
    }
  );

  const articles: DevToPublishedArticles[] = await response.json();

  const pages = articles.map((article: DevToPublishedArticles) => {
    return {
      params: {
        DEVTO_SLUG: article.slug,
      },
      props: {
        md: article.body_markdown,
        url: article.url,
        title: article.title,
        tags: article.tag_list,
      },
    };
  });

  return pages;
}
const { DEVTO_SLUG } = Astro.request.params;
const { md, url, title, tags } = Astro.props;
---

<head>
  <BaseHead
    title={"My Blog"}
    description={"my blog"}
    permalink={"https://chiubaca.com/"}
  >
    <link rel="stylesheet" href={Astro.resolve("../styles/prism.css")} />
  </BaseHead>
</head>

<body>
  <BlogHeader>
    <Links />
  </BlogHeader>
  <header>
    <h1>{title}</h1>
    <TagList {tags} />
  </header>

  <Markdown content={md}>

  </Markdown>

  <div class="link-to-dev">
    <a href={url} target="_blank">
      View this blog over at DEV.to to leave a comment

      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="iconify iconify--octicon"
        width="32"
        height="32"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 16 16"
        ><path
          fill-rule="evenodd"
          d="M10.604 1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03L9.28 7.78a.75.75 0 0 1-1.06-1.06l3.75-3.75l-1.543-1.543A.25.25 0 0 1 10.604 1zM3.75 2A1.75 1.75 0 0 0 2 3.75v8.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0 0 14 12.25v-3.5a.75.75 0 0 0-1.5 0v3.5a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25v-8.5a.25.25 0 0 1 .25-.25h3.5a.75.75 0 0 0 0-1.5h-3.5z"
          fill="currentColor"></path></svg
      >
    </a>
  </div>
</body>

<style lang="scss">
  h1 {
    padding: 1rem 0;
  }

  p {
    padding: 0.5rem 0;
  }

  header {
    margin: 2rem 0;
  }

  .link-to-dev {
    color: lightskyblue;
    svg {
      height: 1rem;
    }
  }
</style>
